# other 
.DS_Store
*/.DS_Store
TODO
.vscode
__pycache__
test.py
geckodriver.log

# mm-excel
_mm-excel

# old files
_old

# key
data

# folders
*/*/
olx1/data
olx1/output
olx2/data
olx2/output
data
output
icons
screens


# automate
automate/*